.container{
    display:flex;
}

#sidebar{
  padding: 3px;
  color: rgb(228, 219, 208);
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  border-style: ridge;
  align-items: center;
  justify-content: center;
  flex:1;
  flex-direction: column;
  border-radius: 30px;
}

#main{
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
  color:rgb(192, 253, 255);
  text-align: center;
  font-size: 32px;
  justify-content:center;
  background-image:url("bkimgecu.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  padding: 250px;
  background-clip: border-box;
  align-items:center;
  flex:3;
  flex-direction:column;
  margin: 10;
  border-radius: 30px;
}

#main:hover{
  transition: 0.5s;
  border-bottom: 3px solid black;
}



 
body{
  background-color:rgb(77, 74, 74);
}

#body{
  font-family:"Lucida Handwriting" ;
}
nav{
  padding:1px
}

nav a{
  background-color:rgb(82, 71, 92);
  color:rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New";
  margin:0 50px 0 200px;
  padding: 50;
  text-align:center;
  border-style: outset;
  flex:1;
  border-radius: 30px;
}

nav a:hover {
  border-bottom: 3px solid black;
  transition: 0.5s;
}

.button {
  background-color: #04AA6D;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 30px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}