.container{
    display:flex;
}

#main{
  justify-content:center;
  align-items:center;
  flex:3;
  flex-direction:column;
}
 
#background-image{
  background-image:url("bkimgecu.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

nav{
  padding:5px
}

nav a{
  background-color:rgb(112, 55, 145);
  color:white;
  margin:0 20px 0 20px;
  display:inline-block;
  width:40%;
  text-align:center;
  flex:1;
}

nav a:hover {
  border-bottom: 2px solid black;
}