.container{
    display:flex;
}

#sidebar{
  padding: 3px;
  color: rgb(228, 219, 208);
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  border-style: ridge;
  align-items: center;
  justify-content: center;
  flex:1;
  flex-direction: column;
}

#main{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  color:bisque;
  text-align: center;
  justify-content:center;
  background-image:url("bkimgecu.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  padding: 100px;
  background-clip: border-box;
  align-items:center;
  flex:3;
  flex-direction:column;
}

#main:hover{
  transition: 0.5s;
}



 
body{
  background-color:rgb(77, 74, 74);
}

#body{
  font-family:"Lucida Handwriting" ;
}
nav{
  padding:1px
}

nav a{
  background-color:rgb(79, 75, 82);
  color:rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New";
  margin:0 50px 0 200px;
  text-align:center;
  border-style: outset;
  flex:1;
}

nav a:hover {
  border-bottom: 3px solid black;
}