.container{
    display:flex;
}

#main{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  color:bisque;
  justify-content:center;
  align-items:center;
  flex:3;
  flex-direction:column;
}
 
body{
  background-color:rgb(156, 156, 156);
}

#body{
  font-family:"Lucida Handwriting" ;
}
nav{
  padding:1px
}

nav a{
  background-color:rgb(79, 75, 82);
  color:rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New";
  margin:0 50px 0 200px;
  text-align:center;
  border-style: outset;
  flex:1;
}

nav a:hover {
  border-bottom: 3px solid black;
}